<div class="contents">
  <% @messages.each do |message| %>
    <article class="message clearfix">
      <div class="message_box">
        <p class="text"><%= message.text %></p>
      </div>
    </article>
  <% end %>
</div>
