<%= form_with model: @message do |form| %>
  <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <%= form.text_field :text, placeholder: "メッセージを書いてみよう" %>
          </div>
        </div>
        <%= form.submit class: "btn waves-effect waves-light", value: "SEND"%>
      </div>
    </div>
  <% end %>