body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 14px;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
  min-width: 960px;
  }

header{
  height: 60px;
  background-color: rgb(23, 218, 39);
}

.header{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu{
  display: flex;
  position: absolute;
  top: -14px;
  left: 75%;
}

.menu_nav{
  list-style: none;
}

.menu_nav a{
  text-decoration: none;
  display: block;
  padding: 17px 30px;
  color: rgb(248, 245, 245);
}

h1{
  line-height: 60px;
  font-size: 30px;
  text-align: center;
}

h2{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

.contents{
  height: 100%;
  width: 600px;
  margin: 5px auto 0;
  background-color: white;
  padding-top: 60px;
}

.message_box{
  margin-top: 40px;
}

.contents h2{
  color: #000;
  font-size: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: rgb(226, 226, 223);
}

.form{
  background-color: #fff;
}

.message_form{
  width: 30%;
  display: block;
}

.submit-button{
  background-color: rgb(53, 187, 197);
  font-size: 17px;
  display: block;
  margin-left: 8px;
}

form textarea{
  width: 500px;
  border: 1px solid #ccc;
}

.message{
  min-height: 90px;
  width: 598px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #bbb;
}

.message_box{
  height: 100px;
  width: 505px;
  padding: 9px 38px 10px;
  text-align: center;
}

.text{
  line-height: 41px;
  font-weight: bold;
  font-size: 17px;
  color: #000;
}

.pagination a{
  text-decoration: none;
  color: rgb(12, 207, 45);
}

.login_title{
  padding-top: 50px;
}

.new_user{
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  position: relative;
}

#user_email{
  display: block;
  border: 2px solid rgb(102, 212, 80);
}

#user_password{
  display: block;
  border: 2px solid rgb(102, 212, 80);
}

#user_password_confirmation{
  display: block;
  border: 2px solid rgb(102, 212, 80);
}

#user_remember_me{
  display: none;
}

.login_btn{
  display: block;
  position: absolute;
  top: 70px;
  left: 900px;
  width: 75px;
  cursor: pointer;
}

.field{
  height: 0;
  margin-left: 15px;
}

.sign_up{
  display: block;
  position: absolute;
  top: 73px;
  left: 1020px;
  width: 75px;
  cursor: pointer;
}